@media screen and (min-width: 428px)  {
    .container {
      max-width: 428px;
    }
    }
    /*.section-ot-list{
        
    }*/
    
    @media screen and (min-width: 768px)  {
      .container {
        max-width: 768px;
      }
      .section-two-list{
      row-gap: 24px;
      column-gap: 72px;
      }
      .section-two-list-item{
       width: calc((100% - 24px)/2);
           
      }
      .section-ot-main-list{
       row-gap: 24px; 
     column-gap: 64px;
     }
    
     .section-ot-list{
      width: calc((100% - 24px)/2);
     }
    }
    
    @media screen and (min-width:1128px)  {
      .container {
      max-width: 1128px;
      }
      .section-two-list{
      gap:24px;
      }
      .section-two-list-item{
      width: calc((100% - 24px*3)/4);
      }
    
      .section-ot-list{
      width: calc((100% - 24px*3)/4);
    }
    .section-ot-main-list{
    gap: 24px;
    }
    .section-ot{
    padding-top: 120px;
    padding-bottom: 120px;
    }
    }

    @media screen and (max-width:1128px){
    .wawd {
        display: none;
            }

    .section-two-block {
        display: none;  
            }
        }
