:root {
  --white-cl: #ffffff;
  --color-logo:#4D5AE5;
  --color-black:#2E2F42;
  --color-background:#F4F4FD; 
  --color-434455:#434455;
  --color-e7e9fc: #e7e9fc;
}

p, h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
margin-top: 0;
margin-bottom:0;
}

ul, ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img{
  display:block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: var(--white-cl);
    } 

.link { 
text-decoration:none;
}

.list {
  list-style: none;
}

.container { 
  width:100%;
  max-width: 1158px; 
  padding: 0 15px; 
  margin: 0 auto;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*---Header-----*/
.header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header-container{
  display: flex;
}

.header-navigation{
  display: flex; 
  align-items: center;
}

.header-adres-list {
  display: flex;
  gap: 40px;
}

/*header-logo*/
.logo {
color:var(--color-logo); 
font-family: Raleway, sans-serif; 
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
margin-right: 76px;

}
/*header-logo-link*/
.logo-studio{
color:var(--color-black);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.header-menu {
 display: flex; 
 gap: 40px;
}

.current {
position: relative;
color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  left:0;
  width:100%;
  height: 4px;
  background-color: #404BBF;
  bottom: -1px;
  border-radius:2px; 
}

.header-menu-link-link {
  position: relative;
  display: block;
  color: #2E2F42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link-link-current {
  position: relative;
  display: block;
  color: #404bbf;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link-link:hover, .header-menu-link-link:focus {
  color:#404BBF;
}

.header-address{
font-style:normal;
margin-left: auto;
display: flex;
align-items: center;
}

.header-adres-list{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;   
}

.address-menu-link-link{
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.address-menu-link-link:hover, .address-menu-link-link:focus {
  color: #404BBF;
}

/*---Section-one-----*/
.section-one{ 
padding: 188px 0;
background: #2E2F42;
background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office11.jpg); 
max-width: 1440px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-left: auto;
margin-right: auto;
}

.section-one-container{
margin: 0 auto;
}

.section-one-title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.section-one-btn {
  color: #FFF;
  background: #4D5AE5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  margin-top:  48px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-btn:hover, .section-one-btn:focus {
  background-color: #404BBF;
}

/*----section-two (Effective Solutions for Your Business)-----*/
.section-two {
  padding: 120px 0;  
}

.section-two-list{
  display: flex;
  gap:24px;
}

.section-two-list-item{
  width: calc((100% - 24px*3)/4);
}

.section-two-block {
display: flex;
align-items: center;
justify-content: center;
width: 264px;
height: 112px;
border-radius: 4px;
margin-bottom: 32px;
background-color: #f4f4fd;
margin-bottom: 8px;
}

.section-two-item {
  color:#2E2F42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-two-item-text {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* section-three ---wawd (What Are We Doing)---*/
 .wawd {
padding-bottom: 120px;
 }

 .wawd-title {
  color:  #2E2F42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.wawd-list {
  display: flex;
  gap: 24px;
}

.wawd-list-item{
  width: calc((100% - 24px*2))/3;
  margin: 0 auto;
}

/*--our team (section-ot)- section-four*/
.section-ot{
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.our-team-title {
color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 72px;
}

.section-ot-main-list{
  display: flex;
  gap: 24px;
}

.section-ot-list{
background-color:#FFFFFF;
width: calc((100% - 24px*3))/4;
margin-bottom: 120px;
margin: 0 auto;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.about-worker{
  padding: 32px 0; 
}

.our-team-subtitle {
color:  #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
margin-bottom: 8px;
}

.our-team-text {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;  
  margin-bottom: 8px;
}

.our-team-socials{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-socials-item{
  width: 40px;
  height: 40px;
}

.our-team-socials-link{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  fill: #F4F4FD;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-socials-link:hover,
.our-team-socials-link:focus {
  background-color: #404bbf;
}

/*--section-customers--*/

.customers{
  padding: 120px 0;
}

.customers-title{
  margin-bottom: 72px;
  color: #2E2F42;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.customers-list{
  display: flex;
  gap: 24px;
  margin: 0;
}

.customers-list-item{
  height: 88px;
}

.customers-link{
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center; 
  justify-content: center;
  color:#8e8f99;
  width: 168px;
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.customers-icon{
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus{
  color: #404BBF;
  border-color: #404BBF;
}


.customers-icon-a:hover,
.customers-icon-a:focus{
    color: #404BBF;
    border-color: #404BBF;
}


/*footer*/
.footer {
  background: #2E2F42;
  padding: 100px 0; 
}

.logo-studio-footer{
color: #F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1,17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-logo{
display: inline-block;
font-family: "Raleway", sans-serif;
margin-bottom: 16px;
font-weight: 800;
 font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
text-decoration: none;
}

.footer-text {
color:  #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
width: 264px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  margin: 0;
}

.footer-list-item{
  width: 40px;
  height: 40px;
}

.footer-social{
margin-bottom: 16px;
color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-link{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus{
  background-color: #31d0aa;
}

.footer-icon{
  fill: #F4F4FD;
}

.footer-div{
  display: flex;
  align-items: baseline;
}

.footer-logo-p-div {
  margin-right: 120px;
} 


.form-footer-div {
  margin-left: 80px;
}

.form-footer-subscribe {
color: #ffffff;
margin-bottom: 16px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;;
}

.footer-form {
  display: flex; 
   gap: 24px;
}

.footer-email {
  width: 264px;
    height: 40px; 
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent; 
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-footer-button {
  background-color: #4D5AE5;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer-button:hover,
.form-footer-button:focus{
background-color: #404BBF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-footer-icon-send{
margin-left: 16px;
fill: #FFF;
}

/* -------Modal-------*/
.data-form-container {
margin-bottom: 8px;
}

.data-label {
font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.data-form {
  position: relative;
}

.data-type-text {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-type-text:focus{
  border-color: #4D5AE5;
}

.data-type-text:focus + .input-icon{
  fill: #4D5AE5;
}

.input-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-form-textarea {
  margin-bottom: 16px;
}

.data-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-textarea:focus{
  border-color: #4D5AE5;  
}

.data-privacy{
margin-bottom: 24px;
}

.data-check-svg{
width: 16px;
height: 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
margin-right: 8px;
}

.input-checkbox:checked + .user-privacy > .data-check-svg{
background-color: #404BBF;
border: none;
fill: #F4F4FD;
border-color: #404BBF;
}

.backdrop{
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.40);
display: flex;
align-items: center;
justify-content: center ;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
width:408px;
min-height: 584px;
border-radius: 4px;
background:   #FCFCFC;
position: absolute;
transform: translate(-50%, -50%) scaleX(1);
top: 50%; 
left: 50%; 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.modal-title{
color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
max-width: 360px;
margin-bottom: 16px;
}

.user-privacy {
color: #8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.48px;
align-items: center;
}

.privacy-link{
color:#4D5AE5;
}

.button-send{
  background-color: #4D5AE5;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-send:hover,
.button-send:focus{
  background-color: #404BBF;
}

.label-inline {
display: block;
color: #8E8F99;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
margin-bottom: 4px;
}

.modal-input{
  width: 100%;
  height: 40px;;
  border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
margin-bottom: 8px;
background-color: transparent;
color: #2E2F42;
outline: transparent;
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input::placeholder{
color: #2E2F4266;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.48px;
padding: 8px 287px 98px 16px;
}

.backdrop.is-hidden .modal {
transform: translate(-50%,-50%) scaleX(5);
}

.modal-close-btn{
border: none;
background:transparent;
width: 24px;
height: 24px;
position: absolute;
top: 24px;
right: 24px;
cursor: pointer;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1); 
padding: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
background-color: #404bbf;
border: none;
fill: #ffffff;
}

.modal-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*--page2--*/
/*--services--*/
.section-portfolio{
  padding-top: 96px; 
  padding-bottom: 120px;
}

.p-two-btn-list{
  display: flex;
  gap: 24px; 
  justify-content: center;
  margin-bottom: 72px;
  }

.services-menu-btn {
  color: var(--color-logo);
  background: var(--color-background);
  text-align: center; 
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-e7e9fc);
  border-radius: 4px; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-menu-btn:hover, .services-menu-btn:focus {
color: #FFFFFF;
background-color: #404BBF;
border: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.p-two-services {
  display: flex;
  flex-wrap: wrap;  
  row-gap: 48px;
  column-gap: 24px;
}

.p-two-services-list{
width: calc((100% - 48px)/3);
} 

.p-two-services-link{
display: block; 
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-two-services-link:hover, .p-two-services-link:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.p-two-services-list-div{
  position: relative;
  overflow: hidden;
}

.p-two-services-link:hover .portfolio-cover-picture-text, .p-two-services-link:focus .portfolio-cover-picture-text{
    transform: translateY(0%);
}

.portfolio-list-explain{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.services-menu-list-item-title {
  color: var(--color-black);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.services-menu-list-item-text {
  color: var(--color-434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-cover-picture-text {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
padding: 40px 32px;
border-radius: 1px;
font-family: Roboto;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
color:  #F4F4FD;
background-color:  #4D5AE5;
transition: transform 300ms ease;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
overflow: auto;
transform: translateY(100%);
}